/node_modules
/app/Console/Commands/TestCommands.php
/app/Http/Controllers/Api/V2/TestCommandsController.php
/public/uploads
/public/hot
/public/storage
/public/img/providers/*
/public/audio/avr/*
/public/phoned_orders/*
/storage/*.key
/vendor
/public/uploads/scripts
/.idea
/.vscode
/.vagrant
/laradock
package-lock.json
Homestead.json
phpunit.xml
.env
composer.lock
*.swp
*.swo
*.xlsx
.tags*